.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(140, 152, 164, 0.125) 0px 6px 24px 0px;
  padding: 32px;
  max-width: 895px;
  width: 100%;
  position: relative;
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 16px;
  text-align: center;
}

.form {
  height: 100%;
}

.divider {
  padding-top: 32px;
  padding-bottom: 32px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: background.paper;
  border: 2px solid #000;
  box-shadow: 24;
  padding: 32px;
  border-radius: 15px;
}

.textField {
  margin-top: 16px;
  margin-bottom: 16px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  text-transform: none;
  font-family: Inter, sans-serif;
  font-size: 0.9375rem;
  line-height: 1.75;
  min-width: 64px;
  padding: 10px 22px;
  color: rgb(255, 255, 255);
  background-color: rgb(55, 125, 255);
  box-shadow: rgba(140, 152, 164, 0.1) 0px 12px 15px;
  font-weight: 400;
  border-radius: 5px;
}
